/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

@font-face {
  font-family: 'Roboto-Mtavruli-Bold';
  src: url("../fonts/Roboto-Mtavruli-Bold.eot");
  src: url("../fonts/Roboto-Mtavruli-Bold.woff2") format("woff2"), url("../fonts/Roboto-Mtavruli-Bold.woff") format("woff"), url("../fonts/Roboto-Mtavruli-Bold.ttf") format("truetype"), url("../fonts/Roboto-Mtavruli-Bold.svg#RobotoMtavruli-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-Mtavruli';
  src: url("../fonts/Roboto-Mtavruli.eot");
  src: url("../fonts/Roboto-Mtavruli.woff2") format("woff2"), url("../fonts/Roboto-Mtavruli.woff") format("woff"), url("../fonts/Roboto-Mtavruli.ttf") format("truetype"), url("../fonts/Roboto-Mtavruli.svg") format("svg"), url("../fonts/Roboto-Mtavruli.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BPGMrgvlovani';
  src: url("../fonts/BPGMrgvlovani.eot");
  src: url("../fonts/BPGMrgvlovani.woff2") format("woff2"), url("../fonts/BPGMrgvlovani.woff") format("woff"), url("../fonts/BPGMrgvlovani.ttf") format("truetype"), url("../fonts/BPGMrgvlovani.svg") format("svg"), url("../fonts/BPGMrgvlovani.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'RobotoNoCaps';
  src: url("../fonts/RobotoNoCaps.eot");
  src: url("../fonts/RobotoNoCaps.woff2") format("woff2"), url("../fonts/RobotoNoCaps.woff") format("woff"), url("../fonts/RobotoNoCaps.ttf") format("truetype"), url("../fonts/RobotoNoCaps.svg") format("svg"), url("../fonts/RobotoNoCaps.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BPG WEB 001 Caps';
  src: url("../fonts/BPGWEB001Caps.eot");
  src: url("../fonts/BPGWEB001Caps.eot?#iefix") format("embedded-opentype"), url("../fonts/BPGWEB001Caps.woff2") format("woff2"), url("../fonts/BPGWEB001Caps.woff") format("woff"), url("../fonts/BPGWEB001Caps.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DejaVuNeueCaps';
  src: url("../fonts/DejaVuNeueCaps.eot");
  src: url("../fonts/DejaVuNeueCaps.eot?#iefix") format("embedded-opentype"), url("../fonts/DejaVuNeueCaps.woff2") format("woff2"), url("../fonts/DejaVuNeueCaps.woff") format("woff"), url("../fonts/DejaVuNeueCaps.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto geo nuswebfont';
  src: url("../fonts/roboto_geo_nuswebfont.eot");
  src: url("../fonts/roboto_geo_nuswebfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto_geo_nuswebfont.woff2") format("woff2"), url("../fonts/roboto_geo_nuswebfont.woff") format("woff"), url("../fonts/roboto_geo_nuswebfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'roboto geo nuswebfont';
  font-size: 14px; }

a {
  text-decoration: none; }

.header {
  font-family: 'BPG WEB 001 Caps';
  font-size: 13px;
  background: #fff;
  height: 80px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #f5f5f5;
  box-sizing: border-box; }

.header .logo {
  width: 20%;
  display: flex; }

.header .logo a {
  display: flex;
  align-items: center;
  justify-content: center; }

.header .logo a img {
  width: 25%; }

.header .menu {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 25px; }

.header .menu a {
  line-height: 80px;
  padding: 0 20px;
  color: #888;
  position: relative;
  transition: .2s ease-in; }

.header .menu a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #91DC5A;
  opacity: 0;
  transition: .2s ease-in; }

.header .menu a:hover::before {
  opacity: 1; }

.header .menu a:hover {
  color: #91DC5A; }

.header .menu a.active {
  border-bottom: 2px solid #91DC5A; }

.header .auth {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px; }

.header .auth a {
  border: 1px solid #91DC5A;
  border-radius: 3px;
  background: #fff;
  color: #91DC5A;
  padding: 12px 15px 10px 15px;
  margin-right: 5px;
  transition: .2s ease-in; }

.header .auth a:hover {
  background: #91DC5A;
  color: #fff; }

.sub-header {
  background: #fff url("../img/bg.jpg") no-repeat center;
  background-size: cover;
  height: calc(100vh - 80px);
  position: relative; }

.sub-header::before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; }

.sub-header__wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column; }

.sub-header__wrapper .title {
  font-size: 1.8em;
  color: #252525;
  font-family: 'DejaVuNeueCaps'; }

.sub-header__wrapper .search-box {
  margin-top: 10%;
  background: #ffffff;
  border-radius: 3px;
  width: 60%;
  border: 1px solid #d8d8d8; }

.sub-header__wrapper .search-box form {
  display: flex;
  flex-direction: row;
  align-items: center; }

.sub-header__wrapper .search-box form input {
  width: 100%;
  border: none;
  outline: none;
  padding: 25px 20px;
  font-size: 18px; }

.sub-header__wrapper .search-box form button {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  outline: none; }

.sub-header__wrapper .search-box form button img {
  width: 25px; }

.content__top-section {
  margin: 40px auto;
  width: 80%; }

.content__top-section .item-title {
  text-align: center;
  margin: 30px 0;
  color: #717171; }

.content__top-section .item-title p {
  width: 70%;
  margin: 0 auto;
  line-height: 1.6; }

.content__top-section .item-title h2 {
  font-family: 'DejaVuNeueCaps';
  font-size: 1.8em;
  color: #404040;
  margin: 10px 0; }

.content__top-section .items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.content__top-section .items .item {
  width: calc(25% - 20px);
  background: #fff url("../img/article_bg.jpg");
  background-size: cover;
  box-sizing: border-box;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 250px;
  position: relative;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden; }

.content__top-section .items .item:last-child {
  margin-right: 0; }

.content__top-section .items .item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: .4;
  width: 100%;
  height: 100%;
  transition: .2s ease-in;
  z-index: 0; }

.content__top-section .items .item:hover::before {
  opacity: .6; }

.content__top-section .items .item:hover .title {
  color: #91DC5A; }

.content__top-section .items .item__top-side, .content__top-section .items .item__description {
  position: relative;
  z-index: 1;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff; }

.content__top-section .items .item__top-side .title {
  color: #ffffff;
  font-family: "DejaVuNeueCaps";
  letter-spacing: 2px;
  text-shadow: 0 0px 3px #000;
  width: 100%;
  text-align: center;
  transition: .2s ease-in; }

.content__top-section .items .item__top-side .title h3 {
  width: 80%;
  margin: 8px auto; }

.content__top-section .items .item__top-side .total-tour {
  font-size: 15px;
  margin: 0;
  text-shadow: 0 0px 3px #000; }

.content__top-section .items .item__description .see-more {
  color: #ffffff;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 10px 20px 12px 20px;
  transition: .2s ease-in;
  background: rgba(0, 0, 0, 0.2);
  text-shadow: 0 0px 3px rgba(0, 0, 0, 0.2); }

.content__top-section .items .item__description .see-more:hover {
  border-color: #91DC5A;
  background: #91DC5A; }

/*# sourceMappingURL=maps/main.css.map */
