
@font-face {
  font-family: 'Roboto-Mtavruli-Bold';
  src: url('../fonts/Roboto-Mtavruli-Bold.eot');
  src: url('../fonts/Roboto-Mtavruli-Bold.woff2') format('woff2'),
       url('../fonts/Roboto-Mtavruli-Bold.woff') format('woff'),
       url('../fonts/Roboto-Mtavruli-Bold.ttf') format('truetype'),
	   url('../fonts/Roboto-Mtavruli-Bold.svg#RobotoMtavruli-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto-Mtavruli';
  src: url('../fonts/Roboto-Mtavruli.eot');
  src: url('../fonts/Roboto-Mtavruli.woff2') format('woff2'),
       url('../fonts/Roboto-Mtavruli.woff') format('woff'),
       url('../fonts/Roboto-Mtavruli.ttf') format('truetype'),
       url('../fonts/Roboto-Mtavruli.svg') format('svg'),
       url('../fonts/Roboto-Mtavruli.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BPGMrgvlovani';
  src: url('../fonts/BPGMrgvlovani.eot');
  src: url('../fonts/BPGMrgvlovani.woff2') format('woff2'),
       url('../fonts/BPGMrgvlovani.woff') format('woff'),
       url('../fonts/BPGMrgvlovani.ttf') format('truetype'),
       url('../fonts/BPGMrgvlovani.svg') format('svg'),
       url('../fonts/BPGMrgvlovani.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoNoCaps';
  src: url('../fonts/RobotoNoCaps.eot');
  src: url('../fonts/RobotoNoCaps.woff2') format('woff2'),
       url('../fonts/RobotoNoCaps.woff') format('woff'),
       url('../fonts/RobotoNoCaps.ttf') format('truetype'),
       url('../fonts/RobotoNoCaps.svg') format('svg'),
       url('../fonts/RobotoNoCaps.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'BPG WEB 001 Caps';
    src: url('../fonts/BPGWEB001Caps.eot');
    src: url('../fonts/BPGWEB001Caps.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BPGWEB001Caps.woff2') format('woff2'),
        url('../fonts/BPGWEB001Caps.woff') format('woff'),
        url('../fonts/BPGWEB001Caps.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVuNeueCaps';
    src: url('../fonts/DejaVuNeueCaps.eot');
    src: url('../fonts/DejaVuNeueCaps.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DejaVuNeueCaps.woff2') format('woff2'),
        url('../fonts/DejaVuNeueCaps.woff') format('woff'),
        url('../fonts/DejaVuNeueCaps.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto geo nuswebfont';
    src: url('../fonts/roboto_geo_nuswebfont.eot');
    src: url('../fonts/roboto_geo_nuswebfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto_geo_nuswebfont.woff2') format('woff2'),
        url('../fonts/roboto_geo_nuswebfont.woff') format('woff'),
        url('../fonts/roboto_geo_nuswebfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}