.header {

  font-family: 'BPG WEB 001 Caps';
  font-size: 13px;
  background: #fff;
  height: $header_height;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #f5f5f5;
  box-sizing: border-box;

  .logo {
    width: 20%;
    display: flex;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 25%;
      }
    }
  }

  .menu {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 25px;

    a {
      line-height: $header_height;
      padding: 0 20px;
      color: #888;
      position: relative;
      transition: .2s ease-in;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: #91DC5A;
        opacity: 0;
        transition: .2s ease-in;
      }

      &:hover::before {
        opacity: 1;
      }

      &:hover {
        color: #91DC5A;
      }

      &.active {
        border-bottom: 2px solid #91DC5A;
      }

    }
  }

  .auth {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;

    a {
      border: 1px solid #91DC5A;
      border-radius: 3px;
      background: #fff;
      color: #91DC5A;
      padding: 12px 15px 10px 15px;
      margin-right: 5px;
      transition: .2s ease-in;

      &:hover {
        background: #91DC5A;
        color: #fff;
      }
    }
  }

}