.sub-header {
  background: #fff url("../img/bg.jpg") no-repeat center;
  background-size: cover;
  height: calc(100vh - #{$header-height});
  position: relative;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  &__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    // justify-content: center;
    flex-direction: column;

    .title {
      font-size: 1.8em;
      color: rgb(37, 37, 37);
      font-family: 'DejaVuNeueCaps';
    }

    .search-box {
      margin-top: 10%;
      background: #ffffff;
      // padding: 0 20px;
      border-radius: 3px;
      width: 60%;
      border: 1px solid #d8d8d8;

      form {
        display: flex;
        flex-direction: row;
        align-items: center;
        input {
          width: 100%;
          border: none;
          outline: none;
          padding: 25px 20px;
          font-size: 18px;
        }

        button {
          background: transparent;
          border: none;
          cursor: pointer;
          margin-right: 20px;
          outline: none;
          img {
            width: 25px;
          }
        }
      }
    }
  }
  
}