.content {

  &__top-section {
    margin: 40px auto;
    width: 80%;

    .item-title {
      text-align: center;
      margin: 30px 0;
      color: #717171;

      p {
        width: 70%;
        margin: 0 auto;
        line-height: 1.6;
      }

      h2 {
        font-family: 'DejaVuNeueCaps';
        font-size: 1.8em;
        color: #404040;
        margin: 10px 0;
      }
    }

    .items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .item {
        width: calc(25% - 20px);
        background: #fff url("../img/article_bg.jpg");
        background-size: cover;
        box-sizing: border-box;
        margin-right: 20px;
        margin-bottom: 20px;
        height: 250px;
        position: relative;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        &:last-child { margin-right: 0; }
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background: #000;
          opacity: .4;
          width: 100%;
          height: 100%;
          transition: .2s ease-in;
          z-index: 0;
        }

        &:hover::before{
          opacity: .6;
        }

        &:hover .title {
          color: #91DC5A;
        }

        &__top-side, &__description {
          position: relative;
          z-index: 1;
          display: flex;
          flex: 1;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          color: #fff;
        }

        &__top-side {
          .title {
            color: #ffffff;
            font-family: "DejaVuNeueCaps";
            letter-spacing: 2px;
            text-shadow: 0 0px 3px #000;
            width: 100%;
            text-align: center;
            transition: .2s ease-in;

            h3 {
              width: 80%;
              margin: 8px auto;
            }
          }

          .total-tour {
            font-size: 15px;
            margin: 0;
            text-shadow: 0 0px 3px #000;
          }
        }

        &__description {
          .see-more {
            color: #ffffff;
            border: 1px solid #fff;
            border-radius: 30px;
            padding: 10px 20px 12px 20px;
            transition: .2s ease-in;
            background: rgba(0, 0, 0, .2);
            text-shadow: 0 0px 3px rgba(0, 0, 0, .2);

            &:hover {
              border-color: #91DC5A;
              background: #91DC5A;
              
            }
          }
        }

      }
    }
  }

}